{% use '@SonataAdmin/CRUD/base_edit_form.html.twig' %}

{% block sonata_form_actions %}
    <button type="submit" class="btn btn-primary" name="btn_publish"><i class="fa fa-cloud-upload" aria-hidden="true"></i> {{ 'btn_publish'|trans({}, 'MagentaCBookAdminBundle') }}</button>
    {% if app.request.isxmlhttprequest %}
        {# NEXT_MAJOR: remove default filter #}
        {% if objectId|default(admin.id(object)) is not null %}
            <button type="submit" class="btn btn-success" name="btn_draft_update"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_draft_update'|trans({}, 'MagentaCBookAdminBundle') }}</button>
            {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
                {{ 'delete_or'|trans({}, 'MagentaCBookAdminBundle') }}
                <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'MagentaCBookAdminBundle') }}
                </a>
            {% endif %}
        {% else %}
            <button type="submit" class="btn btn-success" name="btn_draft_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_draft_create'|trans({}, 'MagentaCBookAdminBundle') }}</button>
        {% endif %}
    {% else %}
        {% if admin.supportsPreviewMode %}
            <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{ 'btn_preview'|trans({}, 'MagentaCBookAdminBundle') }}
            </button>
        {% endif %}
        {# NEXT_MAJOR: remove default filter #}
        {% if objectId|default(admin.id(object)) is not null %}
            <button type="submit" class="btn btn-success" name="btn_draft_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_draft_update_and_edit_again'|trans({}, 'MagentaCBookAdminBundle') }}</button>

            {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                <button type="submit" class="btn btn-success" name="btn_draft_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_draft_update_and_return_to_list'|trans({}, 'MagentaCBookAdminBundle') }}</button>
            {% endif %}

            {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
                {{ 'delete_or'|trans({}, 'MagentaCBookAdminBundle') }}
                <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'MagentaCBookAdminBundle') }}</a>
            {% endif %}

            {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
                <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users" aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'MagentaCBookAdminBundle') }}</a>
            {% endif %}
        {% else %}
            {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
                <button class="btn btn-success" type="submit" name="btn_draft_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_draft_create_and_edit_again'|trans({}, 'MagentaCBookAdminBundle') }}</button>
            {% endif %}
            {% if admin.hasroute('list') and admin.hasAccess('list') %}
                <button type="submit" class="btn btn-success" name="btn_draft_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_draft_create_and_return_to_list'|trans({}, 'MagentaCBookAdminBundle') }}</button>
            {% endif %}
            <button class="btn btn-success" type="submit" name="btn_draft_create_and_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_draft_create_and_create_a_new_one'|trans({}, 'MagentaCBookAdminBundle') }}</button>
        {% endif %}
    {% endif %}    
{% endblock %}