{% extends '@SonataClassification/CategoryAdmin/tree.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .sonata-tree__item .label {
            font-size: 9px;
        }

        .item-action {
            padding-right: 5px;
        }

        a {
            color: #605ca8;
        }

        a.item {
            color: #444;
        }

        .btn-new-category-item {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function ($) {
            $iptItemName = $('#ipt-new-category-item-name');
            $iptItemFile = $('#ipt-new-category-item-file');

            $('.btn-new-category-item').click(function (e) {

                let type = $(this).data('type');
                $('#frm-new-category-item').attr('action', $(this).data('action'));
                $('#lbl-new-category-item').text($(this).data('title'));
                $('#hdn-new-category-item-type').val(type);
                $('.span-new-category-item-type').html(type);

                $iptItemName.attr('placeholder', type.charAt(0).toUpperCase() + type.slice(1) + ' Name');

                if (type === 'file') {
                    $iptItemName.hide();
                    $iptItemFile.show();
                } else {
                    $iptItemName.show();
                    $iptItemFile.hide();
                }

                $('#modal-new-category-item').modal('show');
            });
        });
    </script>
{% endblock %}

{# copied from parent #}
{% import _self as app_tree %}
{% macro navigate_child(collection, admin, root, depth) %}
    {% import _self as app_tree %}
    <ul{% if root %} class="sonata-tree sonata-tree--toggleable js-treeview"{% endif %}>
        {% for element in collection %}
            <li class="sonata-ba-list-field" objectId="{{ element.id }}">
                <div style="display: flex;align-items:center;"
                     class="sonata-tree__item"{% if depth < 2 %} data-treeview-toggled{% endif %}>
                    {% if element.parent or root %}<i class="fa fa-caret-right"
                                                      data-treeview-toggler></i>{% endif %}
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            {% if not element.enabled %}
                                <span class="label label-danger" style="margin-left:auto"><i
                                            class="fa fa-times"></i></span>
                            {% endif %}

                            <a class="sonata-tree__item__edit"
                               href="{{ admin.generateUrl('tree', {'parent': element.id}) }}">{{ element.name }}</a>

                            {#{% if admin.hasRoute('edit') and admin.hasAccess('edit') %}#}
                            {#<a class="sonata-tree__item__edit"#}
                            {#href="{{ admin.generateObjectUrl('edit', element) }}">{{ element.name }}</a>#}
                            {#{% elseif admin.hasRoute('show') and admin.hasAccess('show') %}#}
                            {#<a class="sonata-tree__item__edit"#}
                            {#href="{{ admin.generateObjectUrl('show', element) }}">{{ element.name }}</a>#}
                            {#{% else %}#}
                            {#{{ element.name }}#}
                            {#{% endif %}#}
                        </div>
                        {% if false and element.description is not empty %}
                            <div>
                                {#{% if element.enabled %}<span class="label label-success" style="margin-left:auto">#}
                                {#<i class="fa fa-check"></i>#}
                                {#{{ admin.trans('active', {}, admin.translationDomain) }}#}
                                {#</span>
                                {% endif %}#}
                                {#{% if not element.enabled %}<span class="label label-danger" style="margin-left:auto">#}
                                {#<i class="fa fa-times"></i>#}
                                {#{{ admin.trans('disabled', {}, admin.translationDomain) }}#}
                                {#</span>#}
                                {#{% endif %}#}
                                <span style="padding-left:5px;"><i
                                            class="text-muted">{{ element.description }}</i></span>
                            </div>
                        {% endif %}
                    </div>
                    <div style="margin-left:auto; display: flex; flex-direction: row;">
                        <a href="{{ admin.generateUrl('edit',{id: element.id}) }}" class="item-action"><i class="fa fa-pencil"> </i></a>
                        <a href="{{ admin.generateUrl('delete',{id: element.id}) }}" class="item-action"><i class="fa fa-trash"> </i></a>
                    </div>
                    {#<a class="label label-default pull-right" href="{{ admin.generateObjectUrl('edit', element) }}">edit <i class="fa fa-magic"></i></a>#}
                </div>

                {% if element.children|length %}
                    {{ app_tree.navigate_child(element.children, admin, false, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% block list_table %}
    {# copied from parent #}
    <div class="col-xs-12 col-md-4">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">
                    {#{{ admin.trans('tree_catalog_title', {}, admin.translationdomain) }}#}
                    {#<a href="{{ admin.generateUrl('create') }}" class="btn btn-default"><i class="fa fa-plus"></i> <i#}
                    {#class="fa fa-folder"></i> {{ admin.trans('form.label_new_category', {}, admin.translationDomain) }}#}
                    {#</a>#}
                    Directory Tree
                    {% if not app.request.get('hide_context') and current_context is not empty %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <strong class="text-info">{{ current_context.name }}</strong> <span
                                        class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for context_id, categories in root_categories %}
                                    <li>
                                        <a href="{{ admin.generateUrl('tree', { 'context': context_id }) }}">
                                            {% if current_context and context_id == current_context.id %}
                                                <span class="pull-right">
                                                    <i class="fa fa-check"></i>
                                                </span>
                                            {% endif %}
                                            {{ categories|join(', ') }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </h1>
            </div>
            <div class="box-content">
                {% if current_categories is empty %}
                    {{ app_tree.navigate_child([], admin, true, 0) }}
                {% else %}
                    {{ app_tree.navigate_child(current_categories[0].children, admin, true, 0) }}
                {% endif %}
            </div>
        </div>
    </div>
    {% if parent is defined and parent is not empty and parent.parent is not empty %}
        {% set selectedCategory = parent %}
        {% set hasParent = true %}
    {% else %}
        {% set selectedCategory = current_categories[0] %}
        {% set hasParent = false %}
    {% endif %}
    <div class="col-xs-12 col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                {% if hasParent is not empty %}
                    <div>
                        <a href="{{ admin.generateUrl('tree') }}"><strong>
                                <i class="fa fa-arrow-circle-up"></i>
                                {{ current_categories[0].name }}</strong></a>
                        <hr style="margin-top:1px; margin-bottom:10px;"/>
                    </div>
                {% endif %}
                <h1 class="box-title">{{ selectedCategory.name }}</h1>
                <div class="text-muted">{{ selectedCategory.description }}</div>
                {#<a href="{{ path('admin_magenta_cbookmodel_book_book_create',{}) }}" class="btn btn-primary"><i class="fa fa-plus"></i> <i class="fa fa-book"></i> New Book</a>#}
            </div>
            <div class="box-content">
                <div style="padding-left: 10px; display: flex;align-items:left;flex-direction: column">
                    {% if hasParent is not empty %}
                        <div class="sonata-tree__item" style="display: flex;align-items:center;">
                            <a href="{{ admin.generateUrl('tree',{'parent':selectedCategory.parent.id}) }}">
                                <i class="fa fa-level-up">
                                    .. (Up one level)
                                </i>
                            </a>
                        </div>
                    {% endif %}
                    {% set categories = selectedCategory.children %}
                    {% for category in categories %}
                        <div class="sonata-tree__item" style="display: flex;align-items:center;">
                            <div style="display: flex; align-items: center;">
                                {% if not category.enabled %}
                                    <span class="label label-danger" style="margin-left:auto; margin-right: 5px;"><i
                                                class="fa fa-times"></i></span>
                                {% endif %}
                                <a href="{{ admin.generateUrl('tree',{'parent':category.id}) }}">
                                    <i class="fa fa-folder">
                                        {{ category.name }}
                                    </i>
                                </a>
                                <span style="padding-left: 5px;">
                                    <i class="text-muted">
                                        {{ category.description }}
                                    </i>
                                </span>
                            </div>
                            <div style="margin-left:auto; display: flex; flex-direction: row;">
                                <a href="{{ admin.generateUrl('edit',{id: category.id}) }}" class="item-action"><i
                                            class="fa fa-pencil"> </i></a>
                                <a href="{{ admin.generateUrl('delete',{id: category.id}) }}" class="item-action"><i
                                            class="fa fa-trash"> </i></a>
                            </div>
                        </div>
                    {% endfor %}
                    {% for categoryItem in selectedCategory.items %}
                        {% set item = categoryItem.item %}
                        <div class="sonata-tree__item" style="display: flex;align-items:center;">
                            <div style="display: flex; align-items: center;">
                                {% if categoryItem.type == 'BOOK' %}
                                    <a class="item"
                                       href="{{ path('admin_magenta_cbookmodel_book_book_show',{id: item.id}) }}"><i
                                                class="fa fa-book"> {{ item.name|raw }}</i></a>
                                {% else %}
                                    {% if categoryItem.type == 'MEDIA' %}
                                        <a class="item"
                                           href="{{ path('sonata_media_download',{'id':item.id,'format':'reference'}) }}"><i
                                                    class="fa fa-file"> {{ item.name|raw }}</i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div style="margin-left:auto; display: flex; flex-direction: row;">
                                {% if categoryItem.type == 'BOOK' %}
                                    <a href="{{ path('admin_magenta_cbookmodel_book_book_edit',{id: item.id}) }}"
                                       class="item-action"><i
                                                class="fa fa-pencil"> </i></a>
                                {% else %}
                                    {% if categoryItem.type == 'MEDIA' %}
                                        {#<a class="item-action">#}
                                            {#<i class="fa fa-pencil"> </i>#}
                                        {#</a>#}
                                    {% endif %}
                                {% endif %}
                                {% if categoryItem.type == 'BOOK' %}
                                    <a href="{{ path('admin_magenta_cbookmodel_classification_categoryitem_bookcategoryitem_delete',{id: categoryItem.id}) }}"
                                       class="item-action"><i
                                                class="fa fa-trash"> </i></a>
                                {% else %}
                                    {% if categoryItem.type == 'MEDIA' %}
                                        <a href="{{ path('admin_magenta_cbookmodel_classification_categoryitem_mediacategoryitem_delete',{id: categoryItem.id}) }}"
                                           class="item-action"><i
                                                    class="fa fa-trash"> </i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">
                    Quick Links
                </h1>
            </div>
            <div class="box-content">
                <div style="padding-left: 10px; display: flex;align-items:left;flex-direction: column">
                    <div class="sonata-tree__item" style="display: flex;align-items:center;">
                        <div style="display: flex; align-items: center;">
                            <a type="button" class="btn-new-category-item" data-title="Create a new Directory in
                            {{ selectedCategory.name }}"
                               data-action="{{ path('admin_magenta_cbookmodel_classification_category_createCategory') }}"
                               data-type="directory">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-folder">
                                    {{ admin.trans('form.label_new_category', {}, admin.translationDomain) }}
                                </i>
                            </a>
                            <span style="padding-left: 5px;">
                                    <i class="text-muted">
                                    </i>
                            </span>
                        </div>
                    </div>
                    <div class="sonata-tree__item" style="display: flex;align-items:center;">
                        <div style="display: flex; align-items: center;">
                            <a type="button" class="btn-new-category-item" data-title="Create a new Book in
                            {{ selectedCategory.name }}"
                               data-action="{{ path('admin_magenta_cbookmodel_classification_categoryitem_bookcategoryitem_newInstance') }}"
                               data-type="book">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-book">
                                    New Book
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="sonata-tree__item" style="display: flex;align-items:center;">
                        <div style="display: flex; align-items: center;">
                            <a type="button" class="btn-new-category-item" data-title="Upload a new File in
                            {{ selectedCategory.name }}"
                               data-action="{{ path('admin_magenta_cbookmodel_classification_categoryitem_mediacategoryitem_newInstance') }}"
                               data-type="file">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-file">
                                    Upload a file
                                </i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-new-category-item" tabindex="-1" role="dialog"
         aria-labelledby="lbl-new-category-item">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(newItemForm, {'attr': {'id':"frm-new-category-item"}, 'method': 'POST'}) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="lbl-new-category-item"></h4>
                </div>
                <div class="modal-body">
                    <input id="ipt-new-category-item-name" class="form-control" placeholder="Name"
                           name="item-name"/>
                    <div id="ipt-new-category-item-file" class="">
                        {{ form_widget(newItemForm.media) }}
                        {{ form_rest(newItemForm) }}
                    </div>

                    <input type="hidden" name="category-id" value="{{ selectedCategory.id }}"/>
                    <input type="hidden" id="hdn-new-category-item-type" name="item-type" value=""/>
                    <hr/>
                    This new <span class="span-new-category-item-type"></span> will be created in
                    <code>{{ selectedCategory.name }}</code>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {{ form_end(newItemForm) }}
            </div>
        </div>
    </div>
    <!-- Modal End -->
{% endblock %}
