{% extends base_book_template %}
{% block stylesheets_app %}

    <style>
        .navbar .navbar-brand {
            padding: 0px;
        }

        /* Link color */
        a {
            color: #3e3b6c;
        }

        a:hover, a:focus {
            color: #605ca8;
        }

        .btn-outline-primary {
            border-color: #605ca8;
            color: #605ca8;
        }

        .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .btn-outline-primary.dropdown-toggle, .page-item.active .page-link {
            background-color: #605ca8;
            border-color: #605ca8;
        }

        .pagination > .page-item > .page-link, .pagination > .page-item:last-child > .page-link, .pagination > .page-item:first-child > .page-link {
            color: #605ca8;
            border-color: #605ca8;
        }

        .pagination > .page-item.active > .page-link {
            color: white;
        }

        .pagination > li.active > a:focus, .pagination > li.active > a:hover {
            background-color: #3e3b6c;
            border-color: #3e3b6c;
        }
    </style>
{% endblock %}
{% block nav_title %}
    <a href="{{ path('magenta_book_index',{orgSlug:orgSlug,accessCode:accessCode,employeeCode:employeeCode}) }}">
        <img class="logo" height="40" src="{{ privateMediumUrl(logo.id,'small') }}"/>
    </a>
{% endblock %}
{% block body %}
    <div class="container">
        {% block breadcrumb %}
            {% import '@MagentaCBookAdmin/App/Classification/macro_category_breadcrumb.html.twig' as bc %}
            {{ bc.create_breadcrumb(orgSlug, accessCode, employeeCode, selectedCategory,0) }}
        {% endblock %}
        <table v-if="!reading" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% set grandselectedCategory = selectedCategory.parent %}
            {% if grandselectedCategory is not empty %}
                <tr>
                    <td>
                        <a href="{{ path('magenta_book_index',{orgSlug:orgSlug,accessCode:accessCode,employeeCode:employeeCode, parent: grandselectedCategory.id}) }}">
                            <i class="fa fa-level-up"> </i>
                            .. (Up one level)
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% for category in selectedCategory.children if category.accessibleToIndividual(member) %}
                <tr class="hand-hover">
                    <td>
                        <div>
                            <i class="fa fa-folder"></i> <a
                                    href="{{ path('magenta_book_index',{orgSlug:orgSlug,accessCode:accessCode,employeeCode:employeeCode, parent: category.id}) }}">
                                {{ category.name }}
                            </a>
                        </div>
                        <div class="muted">
                            <a href="{{ path('magenta_book_index',{orgSlug:orgSlug,accessCode:accessCode,employeeCode:employeeCode, parent: category.id}) }}">
                                {{ category.description }}
                            </a>
                        </div>

                    </td>
                </tr>
            {% endfor %}

            {% for catItem in selectedCategory.items if catItem.accessibleToIndividual(member) %}
            {% set item = catItem.item %}
                <tr class="hand-hover">
                    <td>
                        <i class="fa fa-{{ catItem.type == 'BOOK'?'book':'file' }}"></i>
                        {% if catItem.type == 'BOOK' %}
                            {% set book = item.previousVersion %}
                            <a href="{{ path('magenta_book_reader_book', {orgSlug:orgSlug,'accessCode': accessCode, 'employeeCode': employeeCode, 'bookId': book.id}) }}">{{ book.name|raw }}
                                <br/>
                                Edition: {{ item.bookEdition }}
                            </a>
                            {% else %}
                                <a class="item"
                                   href="{{ publicMediumUrl(item.id,'reference') }}">
                                    {{ item.name|raw }}
                                </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock body %}