{% extends base_book_template %}
{% block stylesheets_book %}

    <style>
        .navbar .navbar-brand {
            padding: 0px;
        }

        /* Link color */
        a {
            color: #3e3b6c;
        }

        a:hover, a:focus {
            color: #605ca8;
        }

        .btn-outline-primary {
            border-color: #605ca8;
            color: #605ca8;
        }

        .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .btn-outline-primary.dropdown-toggle, .page-item.active .page-link {
            background-color: #605ca8;
            border-color: #605ca8;
        }

        .pagination > .page-item > .page-link, .pagination > .page-item:last-child > .page-link, .pagination > .page-item:first-child > .page-link {
            color: #605ca8;
            border-color: #605ca8;
        }

        .pagination > .page-item.active > .page-link {
            color: white;
        }

        .pagination > li.active > a:focus, .pagination > li.active > a:hover {
            background-color: #3e3b6c;
            border-color: #3e3b6c;
        }
    </style>
{% endblock %}
{% block nav_title %}
    <img height="40" src="{{ publicMediumUrl(logo.id,'small') }}"/>
{% endblock %}
{% block body %}
    <div class="container">
        <table v-if="!reading" class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for draft in books %}
                {% set book = draft.previousVersion %}
                <tr class="hand-hover">
                    <td>{{ loop.index }}</td>
                    <td>
                        <a href="{{ path('magenta_book_reader_book', {orgSlug:orgSlug,'accessCode': accessCode, 'employeeCode': employeeCode, 'bookId': book.id}) }}">{{ book.name }}
                            <br/>
                            Edition: {{ book.bookEdition }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}